[tool.poetry]
name = "SynPlanner"
version = "1.3.1"
description = "Toolbox for chemical synthesis planning"
authors = ["Laboratoire de Chemoinformatique <tagirshin@gmail.com>"]
license = "MIT"
readme = "README.rst"
packages = [{ include = "synplan", from = "." }, ]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
chython-synplan = ">=1.91"
chytorch-synplan = ">=1.69"
chytorch-rxnmap-synplan = ">=1.6"
cgrtools-stable = "4.2.13"
numpy = ">=2"
pandas = ">=1.4"
toytree = ">=2.0"
ray = ">=2.0"
click = ">=8.0.0"
huggingface-hub = ">=0.24.0"
torch = ">=2.0"
adabelief-pytorch = ">=0.2.1"
torch-geometric = ">=2.4.0"
pytorch-lightning = ">=2"
ipykernel = ">6.29.0"
ipywidgets = ">8.1.0"
streamlit = ">1.35.1"
streamlit-ketcher = ">=0.0.1"
rdkit = ">2025.3.5"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
black = "^24.4.2"
pytest-cov = "^4.0"
twine = "^6.2.0"
ruff = "^0.14.4"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
pydata-sphinx-theme = "^0.15.4"
pandoc = '^2.3'
ipython = '^8.12.1'
nbsphinx = "^0.9.4"
nbsphinx_link = "1.3.1"
pypandoc-binary = "^1.15"

[tool.poetry.scripts]
synplan = "synplan.interfaces.cli:synplan"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"